@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Slow Zoom Animation */
@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}



/* Remove default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}